.app {
    .container {
        .auth {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;

            h1 {
                color: rgb(1, 1, 71);
                text-align: center;
            }

            .register-logo{

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                p{
                    color: #512da8;
                    font-style: italic;
                }
                

                img{
                    object-fit: cover;
                    width: 120px;
                    justify-content: center;
                    align-items: center;
                }
            }


            form {
                display: flex;
                flex-direction: column;
                padding: 50px;
                width: 300px;
                gap: 15px;
                background-color: #fff;
                border-radius: 30px;
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);

                input {
                    padding: 10px;
                    background-color: #eee;
                    border: 1px solid grey;
                    border: none;
                    border-radius: 8px;
                    font-size: 13px;
                    outline: none;
                }

                button {
                    background-color: #512da8;
                    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.35);
                    color: #fff;
                    font-size: 12px;
                    border: 1px solid transparent;
                    padding: 10px 45px;
                    border-radius: 8px;
                    font-weight: 600;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    cursor: pointer;
                    margin-top: 10px;
                    transition: 0.3s;

                    &:hover{
                        transform: translateY(-3px);
                    }

                    &:active{
                        background-color: #c9d6ff;
                        color: #512da8;
                    }
                }

                span {
                    font-size: 15px;
                    text-align: center;
                    color: #333;
                }

                p {
                    font-size: 15px;
                    text-align: center;
                    color: red;
                }
            }
        }
    }
}